:root{
    --navLinkColor: #fff;
    --headerFooter:#381E10;
    --headerFooterSmall: #459451;
    --textColor:#fff;
    --textColorSmall: #000;
}

*{
    font-family:Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    background-color: #211508;
    color: var(--textColor);
    line-height: 1.5;
 }

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1%;
    background-color: var(--headerFooter);
    color: var(--textColor);
 }

h2{
    font-size:xx-large;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 0;
}

main{
    margin-bottom: 10px;
}

p{
    margin-left: 30px;
    margin-right: 30px;

}

nav ul, 
#contact-me ul{
    display: flex;
    list-style: none;
    justify-content:space-between;

}

li, 
#contact-me li{
    margin-left: 10px;
}

figcaption a,
nav a,
#contact-me a{
    color: var(--textColor);
    text-decoration: none;
    font-weight: bold;
}


figure{
    border: 5px #C4FF6E solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
    background-color: #fff;

}

figcaption{
    /*adds captions to all the screenshots of work */
    background-color: #459451;
    color: #000;
    border: 3px #000 solid;
    text-align: center;
}

#first-work { 
    /* special formatting for first work */
    flex: 2 1 700px;
    text-align: center;
    padding: 10px;
    align-content: center;
    justify-content: space-evenly;
  }
.other-projects {
    /* formatting for all other work */
    flex: 1 1 300px;
    padding: 10px;
    width: 250px;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
  }

#headShot{
    /* formatting for head shot photo */
    border-radius: 100%;
    position: initial;
    padding-right: 10px
    
}

#work{
    display: flex;
    flex-wrap: wrap;

}
#work img{
    /* formats screenshot images of work */
    height: 100%;
    width: 100%;
}

#contact-me li{
    margin-left: 20px;
    padding: 2%;
}

footer{
    background-color: var(--headerFooter);
}
footer h3{
    text-align: center;
}

footer ul{
    padding: 0;
}

/* start of responsive formatting depending on screen size */ 
@media screen and (max-width: 750px){
    header{
        flex-direction: column;
    }

    main {
        max-width: 1100px;
    }

    header{
        background-color: var(--headerFooterSmall);
        color: var(--textColorSmall);
    }

    nav ul{
        flex-direction: column;
        padding-left: 0;
    }

    nav li{

        border-bottom: solid var(--textColorSmall);
    }

    nav a{
        color: var(--textColorSmall);
    }
    #headShot{
        height: auto;
        border-radius: 0;
        border-bottom: solid #000;
        padding-bottom: 10px;
        padding-right: 0px
    }
}